
body{
    background-image: url(/Outros/background.jpg); background-size: cover; }
   
    p{background-color: rgba(255, 0, 0, 0); font-family: sans-serif; text-align: justify; color: #fff; margin: 4git add0px ;}
    h1 {
    color: #fff;
    font-size: 100px;
    font-family: sans-serif;
    font-weight: bold;
    text-align: center;
    text-shadow: 0 0 10px black;
}